html {
  background-color: #efffe9;
  color: #28a347;

}

#body {
  background-color: #efffe9;
  padding: 20px;
}
.container {
  padding: 20px;
  margin: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  line-height: 2.5rem;
  background-color: #efffe9;
  color: #28a347;
  border-top: 3px solid #28a347;
}
